---
interface Props {
  className: string;
}

const {
  className
} = Astro.props;

---
<div class={className}>
  <slot />
</div>

<script>
  import { Observer } from "tailwindcss-intersect";

  Observer.start();
</script>