---
import LinksColumns from "@components/LinksColumns.astro"
import FollowUs from "@components/FollowUs.astro"
import AdevintaInfo from "@components/AdevintaInfo.astro"
---

<footer class="bg-[#F5F5F5] py-6 lg:py-10 mt-20">
  <section class="mx-auto max-w-[83rem] px-4 md:px-0 w-full">
    <LinksColumns />
    <FollowUs />
    <AdevintaInfo />
  </section>
</footer>
