---
import Button from "./ui/Button.astro"
---

<header
  id="header"
  class="py-4 px-8 flex justify-between items-center md:max-w-[1400px] md:mx-auto sticky top-0 right-0 left-0 bg-white/70 z-50 mb-4 backdrop-blur-xl"
>
  <a href="#" aria-label="Regresar a la página de inicio"
    ><img src="/logo.svg" alt="Logo InfoJobs" class="w-auto h-[30px]" /></a
  >

  <Button
    variant="solid"
    color="primary"
    size="lg"
    radius="full"
    as="link"
    href="https://www.infojobs.net/candidate/candidate-login/candidate-login.xhtml"
  >
    Crea tu cuenta
  </Button>
</header>