--- 
import Button from "./ui/Button.astro"
---

<header class="py-6 px-8 flex justify-between items-center md:max-w-[1400px] md:mx-auto">
  <img src="/logo.svg" alt="Logo InfoJobs" class="w-auto h-[30px]" />

  <Button variant="solid" color="primary" size="lg" radius="full" as="link" href="https://www.infojobs.net/candidate/candidate-login/candidate-login.xhtml">
    Crea tu cuenta
  </Button>
</header>
