---
import KingsLeagueInfo from "@components/KingsLeagueInfo.astro"
import SectionContainer from "@components/SectionContainer.astro"
import OportunidadesTikTok from "@components/OportunidadesTikTok.astro"
import Subtitle from "@components/Subtitle.astro"
---

<SectionContainer>
  <Subtitle>InfoJobs, ¿la de trabajar te la sabes?</Subtitle>
  <div class="flex flex-col gap-10">
    <KingsLeagueInfo />
    <OportunidadesTikTok />
  </div>
</SectionContainer>
