---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta
      name="description"
      content="Usa InfoJobs e impulsa tu carrera trabajando en una empresa líder"
    />
    <meta name="viewport" content="width=device-width" />

    <meta
      property="twitter:image"
      content="https://primer-trabajo.infojobs.net/og.jpg"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:title"
      content="Encuentra tu Primer Trabajo en InfoJobs"
    />
    <meta
      property="twitter:description"
      content="Usa InfoJobs e impulsa tu carrera trabajando en una empresa líder"
    />

    <meta
      property="og:image"
      content="https://primer-trabajo.infojobs.net/og.jpg"
    />
    <meta property="og:site_name" content="InfoJobs.net" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Usa InfoJobs e impulsa tu carrera trabajando en una empresa líder"
    />
    <meta property="og:url" content="https://primer-trabajo.infojobs.net/" />

    <link rel="preload" as="image" href="/hero-pattern.webp" />
    <script is:inline>
      !(function () {
        try {
          !(function () {
            var a = "__tcfapi",
              t = a + "Locator"
            if (!window.frames[t]) {
              var n = window,
                e = n.document,
                r = 999,
                c = setInterval(function () {
                  if (e.body || 0 === r) {
                    clearInterval(c)
                    var a = e.createElement("iframe")
                    ;(a.style.display = "none"),
                      (a.name = t),
                      e.body.appendChild(a)
                  }
                  r -= 1
                }, 5)
              n.addEventListener(
                "message",
                function (t) {
                  if (null != t && t.data) {
                    var e
                    try {
                      e =
                        "string" == typeof t.data ? JSON.parse(t.data) : t.data
                    } catch (a) {}
                    var r = e && e.__tcfapiCall
                    r &&
                      n[a](
                        r.command,
                        r.version,
                        function (a, n) {
                          var e,
                            c =
                              (((e = {}).__tcfapiReturn = {
                                returnValue: a,
                                success: n,
                                callId: r.callId,
                              }),
                              e)
                          t.source.postMessage(c, "*")
                        },
                        r.parameter
                      )
                  }
                },
                !1
              ),
                (n[a] = function (t, e, r, c) {
                  "ping" === t && r
                    ? r({ gdprApplies: !0, cmpLoaded: !1, cmpStatus: "stub" })
                    : n[a].Q.push(function () {
                        return n[a](t, e, r, c)
                      })
                }),
                (n[a].Q = []),
                (n.__borosTcf = {
                  push: function (t) {
                    return n[a](t)
                  },
                })
            }
          })()
        } catch (a) {}
      })()
    </script>

    <script is:inline>
      !(function () {
        var analytics = (window.analytics = window.analytics || [])
        if (!analytics.initialize)
          if (analytics.invoked)
            window.console &&
              console.error &&
              console.error("Segment snippet included twice.")
          else {
            analytics.invoked = !0
            analytics.methods = [
              "trackSubmit",
              "trackClick",
              "trackLink",
              "trackForm",
              "pageview",
              "identify",
              "reset",
              "group",
              "track",
              "ready",
              "alias",
              "debug",
              "page",
              "once",
              "off",
              "on",
              "addSourceMiddleware",
              "addIntegrationMiddleware",
              "setAnonymousId",
              "addDestinationMiddleware",
            ]
            analytics.factory = function (e) {
              return function () {
                var t = Array.prototype.slice.call(arguments)
                t.unshift(e)
                analytics.push(t)
                return analytics
              }
            }
            for (var e = 0; e < analytics.methods.length; e++) {
              var key = analytics.methods[e]
              analytics[key] = analytics.factory(key)
            }
            analytics.load = function (key, e) {
              var t = document.createElement("script")
              t.type = "text/javascript"
              t.async = !0
              t.src =
                "https://cdn.segment.com/analytics.js/v1/" +
                key +
                "/analytics.min.js"
              var n = document.getElementsByTagName("script")[0]
              n.parentNode.insertBefore(t, n)
              analytics._loadOptions = e
            }
            analytics.SNIPPET_VERSION = "4.15.3"
            analytics.load("I1QsIrOJ5GuAZZFGRCfN8USp89gdFD2u")
          }
      })()
    </script>

    <script
      is:inline
      defer
      src="https://components.infojobs.com/widgets/downloader.js"></script>

    <script
      defer
      is:inline
      src="https://unpkg.com/@s-ui/ij-segment-wrapper@2.6.0/umd/index.js"
    ></script>
    <script is:inline defer>
      analytics.track("Landing Page Viewed", {
        page_name: "landing_midudev_proyecto_jovenes",
        site: "infojobs.net",
        section: "candidate",
        channel: "landing_captacion_ontarget",
        platform: "web",
        vertical: "jobs",
        page_type: "landing",
      })
    </script>
  </head>
</html>
<body>
  <Header />
  <main class="flex flex-col gap-20 md:gap-24">
    <slot />
  </main>
  <div id="cmpContainer"></div>
  <Footer />
</body>

<script is:inline defer>
  const DEFAULT_TRACKING = {
    channel: "landing_captacion_ontarget",
    page_detail: "landing_midudev_proyecto_jovenes",
    platform: "web",
    section: "candidate",
    site: "infojobs.net",
    vertical: "jobs",
  }

  const elementsToTrack = document.querySelectorAll("[data-track]")

  elementsToTrack.forEach((el) => {
    el.addEventListener("click", (event) => {
      const { track } = event.currentTarget.dataset
      const trackingData = { ...DEFAULT_TRACKING, label: track }
      window.analytics.track("Button Clicked", trackingData)
    })
  })
</script>

<style is:global>
  input:focus-visible,
  select:focus-visible {
    outline: 0;
  }

  html {
    scroll-behavior: smooth;
  }
</style>
